

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    padding: 25px;

    .logo {
        a {
            font-size: 25px;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        span {
            display: flex;
            background-color: white;
            height: 2px;
            width: 50px;
            @include mobile {
                background-color: black;
            }
        }
    }
}

footer {
    background-color: black;
    color: white;
    display: flex;
    gap: 50%px;
}

.title {
    width: 30%;
    h3 {
        font-size: 50px;
        font-weight: normal;
    }      
}

.links {
    display: flex;
    gap: 20px;
    width: 705;

    .link {
        display: flex;
        flex-direction: column;

        ul {
            font-size: 25px;
        }
    }
}