

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    padding: 25px;

    .logo {
        a {
            font-size: 25px;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        span {
            display: flex;
            background-color: white;
            height: 2px;
            width: 50px;
            @include mobile {
                background-color: black;
            }
        }
    }
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 50%px;
    padding: 50px 0 600px 20px;
    position: relative;
    overflow: hidden;

    .aside {
        position: absolute;
        width: 1000px;
        height: auto;
        right: -20%;
        bottom: -50%;
    }



}

.f-title {
    width: 30%;
    h3 {
        font-size: 50px;
        font-weight: normal;
    }      
}

.f-links {
    display: flex;
    gap: 20px;
    width: 705;
    position: relative;
    z-index: 10;

    .f-link {
        display: flex;
        flex-direction: column;
        padding-right: 50px;
        h3 {
            font-size: 17px;
            font-weight: normal;
            margin-bottom: 20px;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        ul {
            font-size: 25px;

        }
    }
}